<table class="example-full-width" cellspacing="0"><tr>
    <td><div class="demo-button-container" align="end">
      <a mat-raised-button class="demo-button" routerLink="/addUser" (click)="addUsers()" color="primary">
      Add New
      </a>
  
    <mat-form-field appearance="standard" style="padding: 1%;">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="FilterData($event)" placeholder="Search..." #input>
    </mat-form-field>
  </div>
  </td>
  
  </tr>
</table>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">{{element.name}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef> Lats name </th>
      <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="cell_phone">
        <th mat-header-cell *matHeaderCellDef> Cell phone </th>
        <td mat-cell *matCellDef="let element">{{element.cell_phone}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element">{{element.address}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="tipy_contract">
        <th mat-header-cell *matHeaderCellDef> Type contract </th>
        <td mat-cell *matCellDef="let element">{{element.tipy_contract}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="origen">
        <th mat-header-cell *matHeaderCellDef> Origin </th>
        <td mat-cell *matCellDef="let element">{{element.origen}}</td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-icon-button class="example-icon" (click)="editUsers(element)" color="primary" aria-label="Example icon-button with share icon">
            <mat-icon>edit</mat-icon>
          </button>  
          <button mat-icon-button class="example-icon" (click)="detailsUsers(element)" aria-label="Example icon-button with share icon">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button color="warn" class="example-icon" (click)="deleteUser(element.id)" aria-label="Example icon-button with share icon">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayFileds"></tr>
    <tr mat-row *matRowDef="let row; columns: displayFileds;"></tr>

  </table>

    <mat-paginator [pageSizeOptions]="[5, 10]"
                     showFirstLastButtons 
                     aria-label="Select page of periodic elements">
    </mat-paginator>
  
  